.edit_btn {
  width: 38px;
  height: 38px;
  border-radius: 30px;
  padding: 10px;
  background-color: var(--bg-btn-secondary);
  transition: background-color 300ms ease-in-out;
}

.edit_btn:hover,
.edit_btn:focus {
  background-color: var(--bg-btn-hover-secondary);
}
