.main {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .register_page_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.register_img_container {
  position: relative;
  background-color: var(--secondary-color);
  width: 100%;
  height: 280px;
  border-radius: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .register_img_container {
    height: 302px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .register_img_container {
    height: 100%;
  }
}

.register_img {
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .register_img {
    width: 364px;
    left: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .register_img {
    left: 50%;
    transform: translateX(-50%);
    height: 632px;
    top: 22px;
  }
}

.rectangle_icon {
  position: absolute;
  top: 22px;
  width: 312px;
  height: 100%;
  right: 0px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .rectangle_icon {
    width: 572px;
    height: 715px;
    top: -25%;
    left: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .rectangle_icon {
    width: 530px;
    height: 800px;
    top: -22%;
    left: 30px;
  }
}
