.ellipses {
  width: 80px;
  height: 80px;
  background-color: var(--tertiary-color);
  border-radius: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close_btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close_icon {
  stroke-width: 2px;
  stroke: currentColor;
  transition: stroke 300ms ease-in-out;
}

.close_icon:hover,
.close_icon:focus {
  stroke: #f6b83d;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.btn_container {
  display: flex;
  gap: 8px;
}

.btn_yes {
  border-radius: 30px;
  padding: 12px 57px;
  width: 137px;
  height: 42px;
  background-color: var(--bg-btn-primary);
  color: #fff;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  transition: background-color 300ms ease-out;
}

.btn_cancel {
  border-radius: 30px;
  padding: 12px 44px;
  width: 134px;
  height: 42px;
  background-color: rgba(38, 38, 38, 0.05);
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: currentColor;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn_yes,
  .btn_cancel {
    width: 140px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
  }
}

.btn_yes:hover,
.btn_yes:focus {
  background-color: #f9b020;
}

.btn_cancel:hover,
.btn_cancel:focus {
  background-color: var(--bg-btn-hover-secondary);
}
