.friends_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .friends_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .friends_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 28px;
  }
}

.friend_work_days {
  background-color: var(--tertiary-color);
  border-radius: 30px;
  padding: 8px;
  min-width: 88px;
  height: 32px;
  align-self: flex-end;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .friend_work_days {
    min-width: 102px;
  }
}

.friend_work_days > p {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .friend_work_days > p {
    font-size: 14px;
    line-height: 1.29;
  }
}

.friend_info_container {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .friend_info_container {
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .friend_img {
    width: 90px;
    height: 90px;
  }
}

.friend_item {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 40px 20px;
}

.friend_info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .friend_info {
    gap: 20px;
  }
}

.friend_title {
  font-weight: 700;
  letter-spacing: -0.04em;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .friend_title {
    font-size: 20px;
    line-height: 1.3;
  }
}

.friend_contacts {
  font-style: normal;
}

.friend_contacts_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.friend_email,
.friend_address,
.friend_phone {
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.friend_email > a > span,
.friend_address > a > span,
.friend_phone > a > span {
  color: rgba(38, 38, 38, 0.5);
}
