.my_notices_btn {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .my_notices_btn {
    gap: 8px;
    margin-bottom: 38px;
  }
}

.favorite_btn,
.viewed_btn {
  border-radius: 30px;
  padding: 12px;
  min-width: 123px;
  height: 42px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  background-color: #fff;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .favorite_btn,
  .viewed_btn {
    min-width: 142px;
    height: 48px;
    font-size: 16px;
    padding: 14px;
  }
}

.active_btn {
  background-color: var(--bg-btn-primary);
  color: #fff;
}

.favorite_empty_title {
  margin-top: 80px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .favorite_empty_title {
    font-size: 16px;
    line-height: 1.25;
    max-width: 458px;
    margin: 180px auto;
  }
}

.favorite_empty_title > span {
  font-weight: 700;
  color: var(--secondary-color);
}
