.select_wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .select_wrapper {
    width: 227px;
  }
}

.clear_btn,
.search_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.search_btn {
  right: 12px;
}

.clear_btn {
  right: 34px;
}

.search_icon {
  stroke: currentColor;
  fill: #fff;
}

.clear_icon {
  stroke: currentColor;
  fill: none;
}
