.registration_container {
  background-color: #fff;
  border-radius: 30px;
  padding: 31px 16px 23px 24px;
}

.subtitle {
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.form_input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  width: 295px;
  height: 42px;
  color: rgba(38, 38, 38, 0.8);
}

.form_btn {
  margin-top: 14px;
  border-radius: 30px;
  padding: 12px 99px;
  width: 295px;
  height: 42px;
  background-color: var(--secondary-color);
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.login_title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  text-align: center;
}

.login_link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--secondary-color);
}

.form_name_container,
.form_email_container,
.form_password_container,
.form_confirm_container {
  position: relative;
  margin-bottom: 10px;
}

.password_toggle_btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.form_input::-ms-reveal,
.form_input::-ms-clear {
  display: none;
}

.form_input::-webkit-credentials-auto-fill-button {
  display: none;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.form_input::-webkit-strong-password-auto-fill-button {
  display: none;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.error {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ef2447;
}

.input_error {
  border-color: var(--input-border-error);
}

.input_success {
  border-color: var(--input-border-succes);
}
